<h1 class="heading">TIC TAC TOE!!</h1>

<div class="playerpanel">
    <div class="playerA">
        <input type="text" class="player-input" [(ngModel)]="playerA.name" [readOnly]="!playerA.isEditing" />
        <div> 
        <button class="edit-button" (click)="updateplayername('A')">{{playerA.isEditing?'Save':'Edit'}}</button>
        <button class="edit-button">X</button>
        <button *ngIf="playerA.isturn" class="btn btn-success btn-circle btn-sm">.</button>
        </div>
    </div>
    <div class="playerB">
        <input type="text" class="player-input" [(ngModel)]="playerB.name" [readOnly]="!playerB.isEditing"/>
        <div>
        <button class="edit-button" (click)="updateplayername('B')">{{playerB.isEditing?'Save':'Edit'}}</button>
        <button class="edit-button">O</button>
        <button *ngIf="playerB.isturn" class="btn btn-success btn-circle btn-sm">T</button>
       </div>
    </div>
</div>

<div class="game">
    <div class="d-flex flex-column">
    <div class="d-flex">
        <span class="square">1</span>
        <span class="square">2</span>
        <span class="square">3</span>
    </div>
    <div class="d-flex">
        <span class="square">4</span>
        <span class="square">5</span>
        <span class="square">6</span>
    </div>
    <div class="d-flex">
        <span class="square">7</span>
        <span class="square">8</span>
        <span class="square">9</span>
    </div>
    </div>
</div>

<div class="movesorder">
    <input class="movetext" type="text" readonly placeholder="moves"/>
</div>